@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-family: 'Sora', sans-serif;
  vertical-align: baseline;
}

.App {
  background: transparent;
}

div {
  margin: auto;
}

footer {
  text-align: center;
  font-size: 1em;
  color: #86868b;
  padding: 3px;
  margin-top: 30px;
}

header {
  margin-left: 20px;
  margin-right: 20px;
}

h1 {
  margin: 15px 0 0 0;
  font-size: 2rem;
  color: rgba(29,29,31,255);
}

h5 {
  margin: 5px 0 0 0;
  color: rgba(167,170,172,255);
  font-size: 1rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 0 20px;
  margin: 45px 0;
}

.RefreshBtn {
  margin: 0 auto;
  display:block;
  cursor: pointer;
  width: 7rem;
  height: 3rem;
  border-radius: 980px;
  background-color: rgb(200, 200, 200);
  color: black;
  font-weight: 100;
  transition: 0.3s;
}

.RefreshBtn:hover {
  background-color: #dedede;
}

.spinner {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid rgba(29,29,31,255); 
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}